* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.white_text {
    color: #FCF9FE;
}

.centered_text {
    text-align: center;
}

.btn {
    padding: 0.5rem;
    border-style: none;
    border-radius: 15px;
    font-size: 15px;
}

.btn_white {
    color: #424747;
    background-color: #FFFFFF;
}

.btn_black {
    color: #F3FAFE;
    background-color: #23272A;
}

.border_black {
    border: 1px dashed black;
}

.border_white {
    border: 1px dashed white;
}

#top_wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #255EE9;
}

#top_nav_wrapper {
    max-width: 1100px;
    margin: auto;
    display: flex;
}

#top_nav {
    padding: 5px;
    list-style: none;
    text-align: center;
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_link {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 15px;
}

header {
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url("../img/jumbo.png");
    background-size: cover;
}

#header_section {
    max-width: 700px;
    padding-top: 8rem;
    padding-bottom: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    padding: 1.5rem;
    font-size: 2.5rem;
}

#p_header {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    line-height: 1.5rem;
}

.btn_header {
    margin: 0.5rem;
}







.main_section {
    padding-top: 30px;
    padding-bottom: 30px;
}

#section1, #section3 {
    background-color: #FFFFFF;
}

#section2, #section4 {
    background-color: #D3D3D3;
}

.section_content {
    max-width: 980px;
    min-height: 400px;
    margin: auto;
    display: flex;
}

#section1_content_left, #section2_content_right, #section3_content_left {
    flex-grow: 1.5;
}

#section1_content_right, #section2_content_left, #section3_content_right {
    flex-grow: 1;
    padding-left: 1rem;
}

h2 {
    padding-top: 2rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
    line-height: 2.5rem;
    font-size: 2rem;
}

.p_main {
    line-height: 1.5rem;
    font-size: 15px;
}









#section4_content {
    max-width: 980px;
    min-height: 700px;
    margin: auto;
    background-color: #3A8B22;
}

#footer_top, #footer_bottom {
    background-color: #23272A;
}

#footer_top {
    padding-top: 5px;
    padding-bottom: 20px;
}

#footer_section1 {
    max-width: 980px;
    min-height: 400px;
    margin: auto;
    display: flex;
}

#footer_top_left {
    flex-grow: 1;
    background-color: #F08080;
}

#footer_nav {
    flex-grow: 2.5;
    display: flex;
}

.section_footer_nav {
    flex-grow: 1;
    background-color: #4BB2AA;
}

#hr2 {
    border: 1px solid #C0C0C0;
}

#footer_bottom {
    padding-top: 15px;
}

#footer_section2 {
    max-width: 980px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: #7FFFD4;
}

#bottom_logo, #bottone {
    padding: 2px;
    background-color: #F5B5C0;
}

/* Could have done better with some 
css advanced selectors?? */

